spring:
  application:
    name:
      relaytd
  datasource:
    url:
      /// ------- HIDDEN ------- ///
    username:
      /// ------- HIDDEN ------- ///
    password:
      /// ------- HIDDEN ------- ///
  jpa:
    hibernate:
      ddl-auto:
        update
    properties:
      hibernate:
        dialect:
          org.hibernate.dialect.PostgreSQLDialect
    database-platform:
      org.hibernate.dialect.PostgreSQLDialect
    show-sql:
      true  # Show SQL queries in the console
  security:
    oauth2:
      client: # Login Client
        registration:
          github:
            client-id:
              /// ------- HIDDEN ------- ///
            client-secret:
              /// ------- HIDDEN ------- ///
          google:
            client-id:
              /// ------- HIDDEN ------- ///
            client-secret:
              /// ------- HIDDEN ------- ///
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/auth
            token-uri: https://oauth2.googleapis.com/token
    jwt:
      key: # "your-256-bit-secret-key-that-is-at-least-32-characters"
        toupdate.....99999999999999999999999999999 # Yes, of course this isn't the real key
      refresh:
        name:
          refresh-jwttoken-unsecure
      access:
        name:
          access-jwttoken-unsecure
springdoc:
  api-docs:
    groups:
      enabled:
        true
    path:
      /v3/api-docs
    enabled:
      true
  swagger-ui:
    csrf:
      enabled:
        true
    path:
      /swagger-ui.html
    disable-swagger-default-url:
      true
    url:
      /v3/api-docs
    configUrl:
      /v3/api-docs/swagger-config


server:
  error:
    include-message:
      always
    include-binding-errors:
      always

logging:
  level:
    org:
      springframework:
        security:
          DEBUG
        web:
          INFO
      hibernate:
        INFO
    me:
      INFO



  config:
    src/main/resources/logback.xml


